@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark-blue: #010d18;
  --young-blue: #6eacda;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--dark-blue);
}

html {
  scroll-behavior: smooth;
}

#about,
#portofolio,
#contact {
  scroll-margin-top: 150px;
}

.header-title {
  color: var(--young-blue);
  text-align: left;
  justify-content: start;
}

header.nav-container {
  width: 100%;
  max-width: 1200px;
  padding-block: 1rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  position: sticky;
  top: 0;
  background-color: var(--dark-blue);
}

header.nav-container .nav-logo {
  color: var(--young-blue);
}

header.nav-container .nav-list ul {
  list-style: none;
  display: flex;
  gap: 1rem 2rem;
  padding-left: 0;
  padding-top: 10px;
}

header.nav-container .nav-list li a {
  color: var(--young-blue);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

header.nav-container .nav-list li a:hover {
  color: white;
}

header.nav-container .nav-list .hamburger-menu {
  display: none;
}

main {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding: 1rem 4rem;
}

main .hero-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  max-width: 1200px;
  align-items: center;
  margin-inline: auto;
  height: 500px;
  margin-bottom: 100px;
}

main .hero-container .hero-caption {
  flex: 1;
  display: flex;
  padding-block: 12px;
  flex-direction: column;
  width: 50%;
  height: 500px;
}

main .hero-container .hero-title h1 {
  font-size: 38px;
  font-weight: bold;
  background: linear-gradient(to right, #8fe993, #00d2ff, #3a7bd5);
  -webkit-background-clip: text;
  color: transparent;
  width: 100%;
}

main .hero-container .hero-description {
  font-size: 20px;
  color: rgb(182, 179, 179);
}

main .hero-container .hero-img-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -50px;
}

main .hero-container .hero-img-container .hero-img {
  width: 300px;
  min-width: 250px;
  margin: auto;
  z-index: 2;
  transition: transform ease 0.2s;
}

main .hero-container .hero-img-container .hero-img:hover {
  filter: grayscale(1);
  cursor: pointer;
  transform: scale(1.1) rotate(-12deg);
}

main .content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: flex-start;
}

main .content .about {
  display: flex;
  gap: 2rem;
  transition: opacity 0.5s ease;
  margin-bottom: 100px;
}

main .content .about .about-caption {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  opacity: 1; /* Start fully visible */
  transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

main .content .about .about-caption article {
  color: rgb(182, 179, 179);
  font-size: 20px;
  line-height: 2rem;
  text-align: justify;
}

main .content .about .about-caption article span {
  text-transform: capitalize;
  color: var(--young-blue);
}

main .content aside {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 14px rgba(48, 160, 235, 0.5);
  border: solid 1px var(--young-blue);
  background-color: transparent;
  height: auto;
  width: 30%;
  padding: 0px;
  margin-inline: auto;
  border-radius: 10px;
  transition: transform ease 0.5s;
  position: relative;
  overflow: hidden;
}

main .content aside:hover {
  box-shadow: 1px 1px 14px rgba(48, 160, 235, 0.5);
  background-color: transparent;
  color: var(--young-blue);
  transform: scale(1.05);
  cursor: pointer;
}

main .content aside .aside-container {
  display: flex;
  flex-direction: column;
}

main .content aside .aside-container .aside-img-bg {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

main .content aside .aside-container .aside-img-bg .aside-img {
  object-fit: cover;
  width: 100%;
  position: relative;
  top: -70px;
}

main .content aside .aside-container .aside-caption {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

main .content aside .aside-container .aside-caption-group {
  display: flex;
  gap: 1rem;
  color: var(--young-blue);
  padding: 12px;
}

main .content aside .aside-container .aside-caption-group p {
  font-size: 16px;
  margin-top: -2px;
  margin-left: 0px;
  text-align: start;
}

.btn {
  padding: 1rem;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  width: auto;
  border: none;
  margin-top: 24px;
}

.btn-primary {
  background-color: var(--young-blue);
  color: #010d18;
}

.btn:hover {
  background-color: transparent;
  border: solid 1px var(--young-blue);
  color: #00d2ff;
  cursor: pointer;
}

.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
}

.box {
  height: 200px;
  width: 200px;
  padding: 12px;
  text-align: center;
  margin: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform ease 0.5s;
}

.box:hover {
  height: 200px;
  width: 200px;
  padding: 12px;
  text-align: center;
  margin: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(5deg) scale(1.1);
  box-shadow: 1px 1px 14px rgba(48, 160, 235, 0.5);
  background-color: transparent;
  cursor: pointer;
}

.box:nth-child(odd) {
  background-color: var(--young-blue);
}

.box:nth-child(even) {
  background-color: red;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  gap: 6rem;
  margin-bottom: 100px;
}

.contact-container .form-container {
  display: flex;
}

.contact-container .form-container .form-group {
  padding-top: 20px;
  width: 400px;
}

.contact-container .form-container .form-group label {
  color: white;
}

.contact-container .form-container .form-group .form-control {
  width: 100%;
  height: 3rem;
  border-radius: 0px;
  background-color: transparent;
  color: var(--young-blue);
  border: none;
  border-bottom: 1px solid white;
  font-size: 16px;
}

.contact-container .form-container .form-group .form-control:focus {
  border-bottom: 1px solid var(--young-blue);
  outline: none;
  color: var(--young-blue);
}

.contact-container .maps {
  width: 500px;
}

.text-size-md {
  font-size: 16px;
}

.mb-1 {
  margin-bottom: 1rem;
}

.footer {
  background-color: var(--young-blue);
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
  color: var(--dark-blue);
  font-size: 16px;
}

/* RESPONSIVE SETTINGS */

@media only screen and (max-width: 768px) {
  header.nav-container {
    width: 1200px;
    align-items: center;
  }

  header.nav-container .nav-list ul {
    display: none;
  }
  header.nav-container .nav-list li a {
    font-size: 14px;
  }

  header.nav-container .nav-list .hamburger-menu {
    display: block;
  }

  header.nav-container .nav-list .hamburger-menu button {
    background-color: transparent;
    border: none;
    color: var(--young-blue);
    font-size: 24px;
  }

  header.nav-container .nav-list ul {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  header.nav-container .nav-list ul.active {
    display: block;
    visibility: visible;
    opacity: 1;
    background-color: var(--dark-blue);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    height: auto;
    margin: 0;
    top: 150px;
  }

  main .hero-container {
    flex-direction: column;
    height: auto;
    margin-top: -50px;
  }

  main .hero-container .hero-img-container .hero-img {
    width: 200px;
    min-width: 150px;
    margin: auto;
    z-index: 2;
    transition: transform ease 0.2s;
  }

  main .hero-container .hero-caption {
    width: 100%;
    text-align: center;
    padding-block: 1rem;
    margin-top: -50px;
  }

  main .hero-container .hero-title h1 {
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  main .hero-container .hero-description {
    font-size: 16px;
    color: rgb(182, 179, 179);
    margin-bottom: 1rem;
  }

  main .hero-container .hero-img-container {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    order: -1;
  }

  main {
    width: 100%;
    margin-inline: auto;
    flex-direction: column;
    padding: 2rem;
  }

  main .content .about {
    flex-direction: column;
    margin-top: -25px;
  }

  main .content .about-caption article p {
    font-size: 14px;
    width: 100%;
  }

  main .content aside {
    display: flex;
    width: 100%;
    padding: 12px;
  }

  main .content aside .aside-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  main .content aside .aside-container .aside-img-bg {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
  }

  main .content aside .aside-container .aside-img-bg .aside-img {
    object-fit: cover;
    width: 100%;
    position: relative;
    top: 0px;
  }

  main .content aside .aside-container .aside-caption {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  main .content aside .aside-container .aside-caption-group {
    display: flex;
    gap: 1rem;
    color: var(--young-blue);
    padding: 2px;
  }

  main .content aside .aside-container .aside-caption-group p {
    font-size: 14px;
    margin-top: -2px;
    margin-left: 0px;
    text-align: start;
  }

  .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 100px;
  }

  .contact-container {
    flex-direction: column;
  }

  .contact-container .form-container {
    margin-top: -50px;
  }

  .contact-container .form-container .form-group {
    width: 350px;
    justify-content: center;
  }

  .contact-container .maps {
    max-width: 350px;
  }
}

@media only screen and (max-width: 1200px) {
  header.nav-container {
    max-width: 90%;
  }

  main .content .about {
    gap: 1rem;
  }

  main .content .about .about-caption .about-title h2 {
    color: var(--young-blue);
  }

  main .content .about .about-caption article {
    color: rgb(182, 179, 179);
    font-size: 16px;
    line-height: 2rem;
    text-align: justify;
  }

  main .content .about .about-caption article span {
    text-transform: capitalize;
    color: var(--young-blue);
  }

  main .content aside .aside-container .aside-img-bg {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    padding: 1px;
  }

  main .content aside .aside-container .aside-img-bg .aside-img {
    object-fit: cover;
    width: 100%;
    position: relative;
    top: 0px;
  }
}

@media only screen and (max-width: 1250px) {
  header.nav-container {
    max-width: 90%;
  }

  .contact-container {
    gap: 4rem;
  }
  .contact-container .form-container {
    margin-top: -50px;
  }

  .contact-container .maps {
    width: 400px;
    height: 400px;
  }
}
