@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark-blue: #010d18;
  --young-blue: #6eacda;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--dark-blue);
}

html {
  scroll-behavior: smooth;
}

header.nav-container {
  width: 100%;
  max-width: 1200px;
  padding-block: 1rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  position: sticky;
  top: 0;
  background-color: var(--dark-blue);
}

header.nav-container .nav-logo {
  color: var(--young-blue);
}

header.nav-container .nav-list ul {
  list-style: none;
  display: flex;
  gap: 1rem 2rem;
  padding-left: 0;
  padding-top: 10px;
}

header.nav-container .nav-list li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

header.nav-container .nav-list li a:hover {
  color: var(--young-blue);
}

header.nav-container .nav-list .hamburger-menu {
  display: none;
}

main {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding: 2rem 4rem;
}

main .hero-container {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  max-width: 1200px;
  align-items: center;
  margin-inline: auto;
  height: 500px;
}

main .hero-container .hero-caption {
  flex: 1;
  display: flex;
  padding-block: 12px;
  flex-direction: column;
  width: 50%;
  height: 500px;
}

main .hero-container .hero-title h1 {
  font-size: 38px;
  font-weight: bold;
  background: linear-gradient(to right, #8fe993, #00d2ff, #3a7bd5);
  -webkit-background-clip: text;
  color: transparent;
  width: 100%;
}

main .hero-container .hero-description {
  font-size: 20px;
  color: rgb(182, 179, 179);
}

main .hero-container .hero-img-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -50px;
}

main .hero-container .hero-img-bg {
  position: absolute;
  background-color: var(--young-blue);
  border-radius: 0px 200px 0px;
  height: 400px;
  width: 400px;
  top: 175px;
  left: 50px;
  overflow: hidden;
  z-index: -1;
  display: flex;
  flex-wrap: wrap;
}

main .hero-container .hero-img-container .hero-img-bg .hero-img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
}

main .hero-container .hero-img-container .name-box {
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  margin-left: 150px;
  margin-top: 470px;
  border-radius: 0px 50px;
  display: flex;
  height: auto;
  font-weight: 400;
  box-shadow: 1px 1px 8px rgba(92, 195, 255, 0.5);
}

main .hero-container .hero-img-container .name-box .name {
  color: var(--young-blue);
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 28px;
}

main .content {
  display: flex;
  margin-top: 64px;
  gap: 2rem;
}

main .content .content-caption {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  opacity: 1; /* Start fully visible */
  transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

main .content .content-caption .content-title h2 {
  color: var(--young-blue);
}

main .content .content-caption article {
  color: rgb(182, 179, 179);
  font-size: 20px;
  line-height: 2rem;
  text-align: justify;
}

main .content .content-caption article span {
  text-transform: capitalize;
  color: var(--young-blue);
}

#biodata-card {
  background-color: #3a7bd5;
  padding: 12px;
  margin-top: 24px;
}

#biodata-card {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

#biodata-card.visible {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  height: auto;
  visibility: visible;
}

main .content aside {
  width: 100%;
}
main .content aside.visible {
  width: 100%;
}

#biodata-card {
  background-color: #3a7bd5;
  padding: 12px;
  margin-top: 24px;
}

#biodata-card {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

#biodata-card.visible {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  height: auto;
  visibility: visible;
}

main .content aside button {
  background-color: #6eacda;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}
main .content aside button:hover {
  background-color: transparent;
  color: var(--young-blue);
  border: solid 1px var(--young-blue);
}

.btn {
  padding: 1rem;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  width: auto;
}

.btn-primary {
  background-color: var(--young-blue);
  color: #010d18;
}

.btn:hover {
  background-color: transparent;
  border: solid 1px var(--young-blue);
  color: #00d2ff;
}

/* RESPONSIVE SETTINGS */

@media (max-width: 768px) {
  header.nav-container {
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
  }

  header.nav-container .nav-list ul {
    display: none;
  }
  header.nav-container .nav-list li a {
    font-size: 14px;
  }

  header.nav-container .nav-list .hamburger-menu {
    display: block;
  }

  header.nav-container .nav-list .hamburger-menu button {
    background-color: transparent;
    border: none;
    color: var(--young-blue);
    font-size: 24px;
  }

  main .hero-container {
    flex-direction: column;
    height: auto;
  }

  main .hero-container .hero-caption {
    width: 100%;
    text-align: center;
    padding-block: 1rem;
  }

  main .hero-container .hero-title h1 {
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  main .hero-container .hero-description {
    font-size: 16px;
    color: rgb(182, 179, 179);
    margin-bottom: 1rem;
  }

  main .hero-container .hero-img-container .name-box {
    width: auto;
    top: -400px;
    right: -50px;
    position: absolute;
  }

  main .hero-container .hero-img-container .name-box .name {
    font-size: 20px;
  }

  main .hero-container .hero-img-container .hero-img-bg {
    width: 370px;
    height: 100px;
    top: 125px;
    left: -100px;
    border-radius: 0px 50px;
  }

  main .hero-container .hero-img-container .hero-img {
    width: 100%;
    position: relative;
    left: -100px;
  }

  main .content {
    flex-direction: column;
    display: flex;
  }

  main .content .content-caption {
    width: 100%;
  }

  main .content .content-caption article {
    font-size: 14px;
    width: 100%;
  }

  #biodata-card {
    visibility: visible;
    display: block;
  }
}
@media (max-width: 1025px) {
  main .hero-container .hero-img-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -50px;
  }

  main .hero-container .hero-img-bg {
    position: absolute;
    background-color: var(--young-blue);
    border-radius: 0px;
    height: 200px;
    width: 200px;
    top: 24px;
    left: 0px;
    overflow: hidden;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
  }

  main .hero-container .hero-img-container .hero-img-bg .hero-img {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
  }
}

/* For very small mobile devices (max-width: 480px) */
@media (max-width: 480px) {
  header.nav-container {
    padding: 0.5rem;
  }

  main .hero-container .hero-title h1 {
    font-size: 18px;
  }

  main .hero-container .hero-description {
    font-size: 14px;
  }

  main .hero-container .hero-img-container .hero-img-bg {
    width: 250px;
    height: 80px;
    top: 100px;
    left: -50px;
  }

  main .hero-container .hero-img-container .hero-img {
    left: 0;
  }
}
